.Card {
    margin-top: 50px;
    background-color: white;
    width: 1000px;
    height: 300px;
    color: black;
    border-radius: 25px;
}

.Container {
    display: flex;
    justify-content: center;
    width: 1495px;
}

.photo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 300px;
    width: 300px;
    z-index: 1;
    position: relative;
    background-color: linear;
    background: linear-gradient(135deg, gray 50%, white 50%);
    border-radius: 25px;

}

.Photo {
    border-radius: 100%;
    width: 300px;

}

.info {
    margin: 1pc solid white;
    color: red;
    position: absolute;
    bottom: 450px;
    left: 600px;
    z-index: 1;
}

#title {
    text-align: center;
    color: aliceblue;
}

#part1 {
    display: flex;
    justify-content: space-between;

}

#part2 {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;

}

.photo {
    background-color: white;
    height: 100px;
    width: 100px;
    color: black
}